/* .container{
				border: 5px solid red;
		} */
		.visibility{
			/* display: none; */
		}
		body{
			/* background-color: black; */
			/* color: white; */
		}

		@media (max-width:768px) {
			#text1{
				background-color: lightseagreen;
				width: 150px;
				font-size: 15px;
				overflow: hidden;
			}
		}

		@media (min-width: 1200px) {
			.visibility{
				display: block;
			}
			#text1{
				background-color:lightseagreen;
				width: 150px;
				font-size: 20px;
				overflow: hidden;
			}
		}